<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>仿写网易新闻</string>
		<key>classString</key>
		<string>OneViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>仿写美团首页</string>
		<key>classString</key>
		<string>TwoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>仿微信朋友圈</string>
		<key>classString</key>
		<string>ThreeViewController</string>
	</dict>
</array>
</plist>
